<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue 3- Add list</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
    <div class="root">
     <ul>
         <li v-for="name in names" v-text="name"></li>
     </ul>
     <input type="text" ref="typeBox" id="typeBox" v-model="newName"> 
     <button ref="button" id="button" @click="addName">Add Name</button>
    </div>
    <script>
        new Vue({
            el:".root",
            data:{
                newName:'',
                names:['Numan', 'Raif', 'Riyan']
        },
        methods:{
            addName(){
                this.names.push(this.newName);
                this.newName='';
                this.$refs.typeBox.focus();
            },
        },

        });
    </script>
    
</body>
</html>